<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--最新的渲染模式-->
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img class="logo" src="../static/images/logo.png" onclick="location.href='/'">
    </header>
    <div class="header_img">
        <img src="../static/images/h.jpg">
        <p>XXX</p>
        <a href="">编辑</a>
    </div>
    <div class="content_module">
        <div class="task">
            <h2>杀得众泰一个措手不及，国产版“迈凯伦”横空出世</h2>
            <p>没想到这次没轮到众泰出手，国产版的“迈凯伦”就已经横空出世了。相比众泰前段时间推出的众泰版“保时捷”，这辆国产版的“迈凯伦”简直是碉堡了。这是近期由凤翔发布的全新纯电动跑车TITAN的谍照，从照片上看来，简直就是迈凯伦的孪生兄弟。不过迈凯伦售价高达1260万，这辆凤翔预计售价在10-15万区间。</p>
        </div>
        <div class="input_div"><button onclick="location.href='/msg/my/scheme'">接受任务</button></div>
    </div>
</body>

</html>
