<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--最新的渲染模式-->
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/drop.js"></script>
	<title>Document</title>
</head>
<body>
    <header class="seach">
		<img class="logo" src="/static/images/logo.png" onclick="location.href='/'">
		<div>
			<input type="text" name="">
			<button></button>
		</div>
		<a href="/user/info"><img src="/static/images/me.png"></a>
	</header>


	<div class="header_img">
        <img src="/static/images/h.jpg">
        <p>XXX</p>
    </div>
	<div class="content_module">
		<div class="ul_list">
			<h2><img src="/static/images/jt.png">我已发布</h2>
			<ul style="display:none">
				<li>
					<img src="/static/images/h.jpg">
					<h3>国产版“迈凯伦”横空出世</h3>
					<p>这是近期由凤翔发布的全新纯电动跑车TITAN的谍照...</p>
					<a href="">删除</a>
				</li>
				<li>
					<img src="/static/images/h.jpg">
					<h3>国产版“迈凯伦”横空出世</h3>
					<p>这是近期由凤翔发布的全新纯电动跑车TITAN的谍照...</p>
				</li>
				<li>
					<img src="/static/images/h.jpg">
					<h3>国产版“迈凯伦”横空出世</h3>
					<p>这是近期由凤翔发布的全新纯电动跑车TITAN的谍照...</p>
				</li>
				<li>
					<img src="/static/images/h.jpg">
					<h3>国产版“迈凯伦”横空出世</h3>
					<p>这是近期由凤翔发布的全新纯电动跑车TITAN的谍照...</p>
				</li>
				<li>
					<img src="/static/images/h.jpg">
					<h3>国产版“迈凯伦”横空出世</h3>
					<p>这是近期由凤翔发布的全新纯电动跑车TITAN的谍照...</p>
				</li>
				<li>
					<img src="/static/images/h.jpg">
					<h3>国产版“迈凯伦”横空出世</h3>
					<p>这是近期由凤翔发布的全新纯电动跑车TITAN的谍照...</p>
				</li>
			</ul>
		</div>
		<div class="ul_list">
			<h2><img src="/static/images/jt.png">我已接收</h2>
		
		</div>
		<div class="ul_list">
			<h2><img src="/static/images/jt.png">完成记录</h2>
			
		</div>

	</div>
</body>

</html>