<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--最新的渲染模式-->
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<title>Document</title>
</head>
<body>
	<header>
		<img class="logo" src="/static/images/logo.png" onclick="location.href='/'">
	</header>
	<div class="sign_module">
		<div class="sel_div">
			<select>
				<option>陕西省</option>
				<option>山东省</option>
			</select>
			<select>
				<option>西安市</option>
				<option>宝鸡市</option>
			</select>
			<select>
				<option>眉县</option>
				<option>扶风县</option>
			</select>
			<span>所在地点</span>
		</div>
		<div class="sel_div">
			<select>
				<option>上海交通大学</option>
				<option>上海交通大学</option>
				<option>上海交通大学</option>
				<option>上海交通大学</option>
				<option>上海交通大学</option>
			</select>
			<span>选择学校</span>
		</div>
		<div class="agreement">
			<input type="checkbox" id="agree">
			<label for="agree" href="">我已阅读并同意<a href="">《曝菌用户注册协议》</a></label>
		</div>
		<div class="input_div ok"><button onclick="location.href='/'">完成注册</button></div>
	</div>
</body>

</html>