<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--最新的渲染模式-->
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<title>Document</title>
</head>
<body>
	<header>
		<img class="logo" src="/static/images/logo.png" onclick="location.href='/'">
	</header>
	<div class="sign_module">
		<div class="input_div" style="margin:0"><input class="input_tip" type="text" name="" placeholder="手机号"><span>手机号</span></div>
		<div class="code"><span>获取验证码</span></div>
		<div class="input_div">
		    <input class="input_tip" type="text" name="" placeholder="请输入验证码"><span>验证码</span>
		</div>
		<div class="input_div"><button onclick="location.href='/user/reset/pwd'">下一步</button></div>
	</div>
</body>

</html>