<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--最新的渲染模式-->
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img class="logo" src="/static/images/logo.png" onclick="location.href='/'">
    </header>
    <div class="header_img">
        <img src="/static/images/h.jpg">
        <p>XXX</p>
        <a href="">编辑</a>
    </div>
    <div class="content_module">
        <div class="screen">
            <dl>
                <dt>性别：</dt>
                <dd>男</dd>
            </dl>
            <dl>
                <dt>学院：</dt>
                <dd>北京电影学院</dd>
            </dl>
            <dl>
                <dt>专业：</dt>
                <dd>舞蹈专业</dd>
            </dl>
            <dl>
                <dt>年级：</dt>
                <dd>二年级</dd>
            </dl>
            <dl>
                <dt>兴趣爱好：</dt>
            </dl>
        </div>
        <div class="textarea">
            <textarea placeholder="个人兴趣爱好"></textarea>
        </div>
    </div>
</body>

</html>
